PORT=3000
NODE_ENV=development

ML_SITE_ID=MLA
ML_API_BASE_URL=https://api.mercadolibre.com
ML_OAUTH_TOKEN_URL=https://api.mercadolibre.com/oauth/token

ML_CLIENT_ID=your_client_id
ML_CLIENT_SECRET=your_client_secret
ML_REDIRECT_URI=your_redirect_uri

ML_ACCESS_TOKEN=your_access_token
ML_REFRESH_TOKEN=your_refresh_token

ML_DEFAULT_CURRENCY=ARS
ML_DEFAULT_CONDITION=new
ML_DEFAULT_LISTING_TYPE_ID=gold_special
ML_DEFAULT_BUYING_MODE=buy_it_now
ML_MAX_IMAGES=10
